button .author {
    padding-right: 5px;
}

button .value {
    color: #797979;
}

button .arrow {
    padding: 0 2px;
}

button /deep/ .popover-content {
    padding: 9px 0 !important;
}

.popover-container .popover-top, .popover-container .popover-main, .popover-container .popover-footer {
    font-size: 12px;
    padding: 0 10px;
}

.popover-container .popover-top .top-select {
    width: 100px;
}

.popover-container .popover-hr {
    width: 100%;
    border-top: 1px solid #aaaaaa;
    margin: 10px 0;
}

.popover-container .popover-main input[type=text] {
    border: 1px solid #cccccc;
    width: 100%;
    margin-bottom: 5px;
    padding-left: 5px;
    padding-top: 3px;
}

.popover-container .popover-main ul {
    list-style: none;
    padding: 0;
    font-weight: normal;
}

.popover-container .popover-main ul input[type=checkbox] {
    height: 11px;
}

.popover-container .popover-main ul label {
    font-weight: normal;
    font-size: 10px;
}

.popover-container .popover-footer {
    display: inline-block;
    width: 100%;
}

.popover-container .popover-footer .left {
    float: left;
}

.popover-container .popover-footer .right {
    float: right;
}