.*.swp
._*
.DS_Store
.git
.hg
.npmrc
.lock-wscript
.svn
.wafpickle-*
.idea
config.gypi
CVS
npm-*.log

.angular-cli.json
.editorconfig
.gitignore
.npmignore
gulpfile.js
karma.conf.js
protractor.conf.js
tsconfig-aot.json
tsconfig.json
tslint.json

/scripts
/src
/node_modules
/aot
/e2e
/build
