
.gw-switch{
  height: 22px;
  min-width: 44px;
  position: relative;
  border: 1px solid transparent;
  box-sizing: border-box;
  vertical-align: middle;
  border-radius: 20px;
  cursor: pointer;
  user-select: none;
  display: inline-block;
  background-color:rgba(0,0,0,0.25);
  outline: none;
  .gw-switch-inner{
    color: #fff;
    font-size: 10px;
    display: block;
    margin-left: 24px;
    margin-right: 6px;
    line-height: 20px;
  }
  &:after{
    position: absolute;
    width: 18px;
    height: 18px;
    left: 1px;
    top: 1px;
    border-radius: 18px;
    background-color: #fff;
    content: ' ';
    cursor: pointer;
    transition: all 0.36s linear;
  }
  &:active:after{
    width: 24px;
  }
  &:focus{
    box-shadow: 0 0 0 2px rgba(16,144,233,0.25);
  }
  &:focus:hover{
    box-shadow:none;
  }
  &.gw-switch-checked{
    background-color: #108ee9;
    .gw-switch-inner{
      margin-left: 6px;
      margin-right: 24px;
    }
    &:after{
      left: 100%;
      margin-left: -20px;
    }
    &:active:after{
      margin-left: -25px;
    }
  }
  &.gw-switch-disabled{
    cursor: not-allowed;
    background-color:#999;
    &:after{
      background-color: #ccc;
      cursor: not-allowed;
    }
    .gw-switch-inner{
      color:rgba(0,0,0,.25);
    }
  }
  &.gw-switch-lg{
    height:32px;
    min-width: 64px;
    border-radius: 30px;
    .gw-switch-inner{
      font-size: 14px;
      line-height: 30px;
      margin-right: 12px;
      margin-left: 32px;
    }
    &:after{
      width: 28px;
      height: 28px;
      border-radius: 28px;
    }
    &.gw-switch-checked{
      .gw-switch-inner{
        margin-left: 12px;
        margin-right: 32px;
      }
      &:after{
        margin-left: -28px;
      }
    }
  }
//  样式的设置
  &.gw-switch-danger{
    &:focus{
      box-shadow: 0 0 0 2px rgba(201,48,44,0.25);
    }

    &.gw-switch-checked{
      background-color: #c9302c;
      &.gw-switch-disabled{
        background-color: #999;
      }
    }
  }
  &.gw-switch-info{
    &:focus{
      box-shadow: 0 0 0 2px rgba(49,176,213,0.25);
    }
    &.gw-switch-checked{
      background-color: #31b0d5;
      &.gw-switch-disabled{
        background-color: #999;
      }
    }
  }
  &.gw-switch-warning{
    &:focus{
      box-shadow: 0 0 0 2px rgba(236,151,31,0.25);
    }
    &.gw-switch-checked{
      &.gw-switch-disabled{
        background-color: #999;
      }
      background-color: #ec971f;
    }
  }
  &.gw-switch-primary{
    &.gw-switch-disabled{
      background-color: #999;
    }
    &.gw-switch-checked{
      &.gw-switch-disabled{
        background-color: #999;
      }
      background-color: #337ab7;
    }
  }
}