<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" routerLink="/">Ngx-Ourpalm-Table</a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li><a routerLink="/toolbar">toolbar</a></li>
                <li><a routerLink="/popconfirm">popconfirm</a></li>
            </ul>
        </div>
    </div>
</nav>
<div class="container">
    <div class="row">
        <div style="margin-top:50px;">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>