<gw-toolbar>

    <p>
        <gw-input #gwcontrol #input
                  [label]="'公司'"
                  [(ngModel)]="inputModel"
                  [closeable]="false"
                  [enabled]="true"
                  [showSelect]="false"
        >
        </gw-input>

        {{inputModel}}
    </p>

    <p>
        <gw-input #gwcontrol #input
                  [label]="'公司'"
                  [(ngModel)]="inputSelectModel"
                  [closeable]="false"
                  [enabled]="true"
                  [showSelect]="true"
                  [selectData]="[{id: '0', text: 'woman'}, {id: '1', text: 'man'}]"
        >
        </gw-input>

        {{inputSelectModel | json}}
    </p>

    <p>
        <gw-single-select #gwcontrol
                          [label]="'配置singleSelect'"
                          [data]="[{id: '0', text: '测试一'}, {id: '1', text: '测试二'}]"
                          [(ngModel)]="selectModel"
                          [closeable]="true"
                          [enabled]="true"
                          [showSelect]="false"
        >
        </gw-single-select>

        {{selectModel | json}}
    </p>

    <p>
        <gw-single-select #gwcontrol
                          [label]="'配置singleSelect'"
                          [data]="[{id: '0', text: '测试一'}, {id: '1', text: '测试二'}]"
                          [(ngModel)]="selectXModel"
                          [closeable]="true"
                          [enabled]="true"
                          [showSelect]="true"
                          [selectData]="[{id: '0', text: 'woman'}, {id: '1', text: 'man'}]"
                          (onSelect)="log($event)"
        >
        </gw-single-select>

        {{selectXModel | json}}
    </p>

    <p>
        <gw-multi-select #gwcontrol
                         [label]="'配置multiSelect'"
                         [data]="[{id: '0', text: '测试一'}, {id: '1', text: '测试二'}]"
                         [(ngModel)]="multiSelectModel"
                         [closeable]="true"
                         [enabled]="true"
                         [showSelect]="false"
                         (onSelect)="log($event)"
        >
        </gw-multi-select>

        {{multiSelectModel | json}}
    </p>

    <p>
        <gw-multi-select #gwcontrol
                         [label]="'配置multiSelect'"
                         [data]="[{id: '0', text: '测试一'}, {id: '1', text: '测试二'}]"
                         [(ngModel)]="multiXSelectModel"
                         [closeable]="true"
                         [enabled]="true"
                         [showSelect]="true"
                         [selectData]="[{id: '0', text: 'woman'}, {id: '1', text: 'man'}]"
                         (onSelect)="log($event)"
        >
        </gw-multi-select>

        {{multiXSelectModel | json}}
    </p>


    <p>
        <gw-datepicker #gwcontrol
                       label="日期"
                       [(ngModel)]="dateModel">
        </gw-datepicker>
    </p>

</gw-toolbar>


