/**
 * 全局css
 */
.hidden {
    display: none !important;
}

/** angular cdk overlay */
.cdk-overlay-backdrop {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    pointer-events: auto;
    transition: opacity .4s cubic-bezier(.25, .8, .25, 1);
    opacity: 0;
}

.overlay-backdrop-class {
    background: #000;
    opacity: .85 !important;
}

.overlay-backdrop-transparent {
    background-color: transparent;
}

.cdk-global-overlay-wrapper, .cdk-overlay-container {
    pointer-events: none;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.cdk-global-overlay-wrapper {
    display: flex;
    position: absolute;
    z-index: 1000;
}

.cdk-overlay-container {
    position: fixed;
    z-index: 1000;
}

.cdk-global-overlay-wrapper, .cdk-overlay-container {
    pointer-events: none;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.cdk-overlay-pane {
    position: absolute;
    pointer-events: auto;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    z-index: 1000;
}

/* <div class="loader"></div>  */
.loader {
    border: 12px solid #3C8DBC; /* Light grey */
    border-top: 12px solid transparent; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 0.6s linear infinite;
}

.loader {
    position: fixed;
    left: 50%;
    top: 50%;
    margin: -60px 0 0 -60px;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

/**
 * overlay css
 */

.gw-overlay {
    position: absolute;
    z-index: 10;
}

/**
 * popconfirm css
 */
.gw-popconfirm {
    font-size: 12px;
    border-radius: 4px;
    min-width: 150px;
    box-shadow: 0 1px 6px rgba(0, 0, 0, .2);
}

.gw-popconfirm .gw-popconfirm-title {
    padding: 6px;
    border-bottom: 1px solid #aaa;
}

.gw-popconfirm .gw-popconfirm-footer {
    padding: 6px;
    text-align: right;
}

/**
 * popinput css
 */
.gw-popinput {
    font-size: 12px;
    border-radius: 4px;
    min-width: 150px;
    box-shadow: 0 1px 6px rgba(0, 0, 0, .2);
}

.gw-popinput .gw-popinput-title, .gw-popinput .gw-popinput-body {
    padding: 6px;
    border-bottom: 1px solid #aaa;
}

.gw-popinput .gw-popinput-body input {
    width: 100%;
}

.gw-popinput .gw-popinput-footer {
    padding: 6px;
    text-align: right;
}

/**
 * confirm css
 */
.gw-confirm-mask {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #aaaaaa;
    opacity: 0.3;
    z-index: 10000;
}

.gw-confirm {
    position: fixed;
    top: 50%;
    left: 50%;
    opacity: 1;
    transform: translate(-50%, -50%);
    z-index: 10001;
    background-color: #ffffff;
    border-radius: 2px;
    min-width: 200px;
    padding: 10px;
}

.gw-confirm .gw-confirm-title {
    font-weight: bold;
}

.gw-confirm .gw-confirm-footer {
    text-align: right;
}

/**
 * popselect css
 */
.gw-popselect {
    font-size: 12px;
}

.gw-popselect .gw-popselect-filter {
    margin: 10px;
}

.gw-popselect .gw-popselect-filter input {
    border: 1px solid #cccccc;
    width: 100%;
    padding-left: 5px;
    padding-top: 3px;
}

.gw-popselect .gw-popselect-body {
    border-bottom: 1px solid #aaa;
    padding: 0 0 10px 0;
}

.gw-popselect .gw-popselect-body ul {
    list-style: none;
    padding: 0;
    margin: 0;
    max-height: 220px;
    overflow: auto;
}

.gw-popselect .gw-popselect-body ul li {
    padding: 0 10px;
}

.gw-popselect .gw-popselect-body ul li:hover {
    background-color: antiquewhite;
}

.gw-popselect .gw-popselect-body label {
    width: 100%;
    font-weight: normal;
    margin: 2px 0;
}

.gw-popselect .gw-popselect-body input {
    height: 11px;
}

.gw-popselect .gw-popselect-footer {
    text-align: right;
    margin: 5px 10px;
}