li.gu-transit {
    list-style: none !important;
    background-color: antiquewhite;
    opacity: 0.7;
    border: 1px dashed #aaaaaa;
}

.gu-mirror {
    text-align: center !important;
    line-height: 40px !important;
    border: 1px dashed #aaaaaa;
    position: fixed !important;
    background-color: aliceblue;
    list-style: none !important;
    margin: 0 !important;
    z-index: 9999 !important;
    opacity: 0.8;
    filter: alpha(opacity=80);
}

.gu-hide {
    display: none !important;
}

.gu-unselectable {
    -webkit-user-select: none !important;
    -moz-user-select: none !important;
    -ms-user-select: none !important;
    user-select: none !important;
}