<ng-content></ng-content>
<button type="button" class="btn btn-default btn-xs">
    <span class="glyphicon glyphicon-plus" [popover]="popTemplate" placement="bottom" #pop="bs-popover" containerClass="popover-input"></span>
</button>

<ng-template #popTemplate>
    <div class="popover-container">
        <div class="popover-main">
            <div class="input"><input type="text" [(ngModel)]="_filter" name="value" placeholder="过滤..."></div>
            <ul>
                <li *ngFor="let item of (data | gwSelectFilter:_filter)">
                    <label>
                        <input type="checkbox" [(ngModel)]="item.__checked__" name="checkbox">
                        <span>{{item.label}}</span>
                    </label>
                </li>
            </ul>
        </div>
        <div class="popover-hr"></div>
        <div class="popover-footer">
            <div class="left">
                <a class="btn btn-xs" (click)="clear()">清除</a>
            </div>
            <div class="right">
                <button class="btn btn-primary btn-xs" (click)="pop.hide();save()">保存</button>
                <button class="btn btn-default btn-xs" (click)="pop.hide();cancel()">取消</button>
            </div>
        </div>
    </div>
</ng-template>