/* You can add global styles to this file, and also import other style files */
@import "~font-awesome/css/font-awesome.css";
@import "~bootstrap/dist/css/bootstrap.css";
@import "~admin-lte/dist/css/AdminLTE.css";
@import "./assets/datepicker/daterangepicker.css";
@import "./assets/scrollbar.css";
/*@import "~@angular/material/prebuilt-themes/indigo-pink.css";*/

.form-control.form-control-glowworm {
    overflow: hidden;
    line-height: 30px;
    text-align: left;
}

.form-control.form-control-glowworm .arrow {
    float: right;
}