/* You can add global styles to this file, and also import other style files */
@import "~font-awesome/css/font-awesome.css";
@import "~bootstrap/dist/css/bootstrap.css";
@import "~admin-lte/dist/css/AdminLTE.css";
@import "~admin-lte/dist/css/skins/skin-blue.css";
@import "~bootstrap-daterangepicker/daterangepicker.css";
/*@import "~@angular/material/prebuilt-themes/indigo-pink.css";*/
/* 去除圆角 */
@import "assets/no-border-radius.css";

/************************/
span.form-control {
    overflow-x: hidden;
    overflow-y: auto;
    line-height: 22px;
}

.cdk-overlay-container {
    z-index: 1100 !important;
}

.cdk-overlay-pane {
    position: absolute;
    pointer-events: auto;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    z-index: 1000;
}


.form-control.form-control-glowworm {
    overflow: hidden;
    text-align: left;
}

.form-control.form-control-glowworm .arrow {
    float: right;
}

.img-prev-wrapper {
    overflow: auto;
    text-align: center;
    margin: 0 auto;
    pointer-events: initial !important;
    max-height: 100%;
    max-width: 80%;
}

/* 滚动条 */
::-webkit-scrollbar-thumb:horizontal { /*水平滚动条的样式*/
    width: 5px;
    background-color: #CCCCCC;
    -webkit-border-radius: 6px;
}

::-webkit-scrollbar-track-piece {
    background-color: #fff; /*滚动条的背景颜色*/
    -webkit-border-radius: 0; /*滚动条的圆角宽度*/
}

::-webkit-scrollbar {
    width: 9px; /*滚动条的宽度*/
    height: 5px; /*滚动条的高度*/
}

::-webkit-scrollbar-thumb:vertical { /*垂直滚动条的样式*/
    height: 50px;
    background-color: #999;
    -webkit-border-radius: 4px;
    outline: 2px solid #fff;
    outline-offset: -2px;
    border: 2px solid #fff;
}

::-webkit-scrollbar-thumb:hover { /*滚动条的hover样式*/
    height: 50px;
    background-color: #9f9f9f;
    -webkit-border-radius: 4px;
}

.modal-lg-x {
    width: 80%;
    min-width: 1024px;
}