<ng-container *ngIf="enabled">
    <button type="button" class="btn btn-default {{btnSize}}">
        <span [popover]="popTemplate" placement="bottom" #pop="bs-popover" containerClass="popover-input">
            <span class="author">{{label}}</span>
            <span class="value">{{_value}}</span>
            <span class="arrow"><span class="caret"></span></span>
        </span>
        <ng-container *ngIf="closeable">
            <span class="glyphicon glyphicon-remove" (click)="remove();"></span>
        </ng-container>
    </button>
</ng-container>

<ng-template #popTemplate>
    <div class="popover-container">
        <ng-container *ngIf="showSelect">
            <div class="popover-top">
                <span class="top-label">{{label}}</span>:
                {{selectValue|json}}
                <select class="top-select" [(ngModel)]="selectValue">
                    <option *ngFor="let item of selectData" [attr.value]="item.value" [attr.selected]="selectValue == item.id">{{item.text}}</option>
                </select>
            </div>
            <div class="popover-hr"></div>
        </ng-container>
        <div class="popover-main">
            <input type="text" [(ngModel)]="_tmp_value" name="value">
        </div>
        <div class="popover-hr"></div>
        <div class="popover-footer">
            <div class="left">
                <a class="btn btn-xs" (click)="clear()">清除</a>
            </div>
            <div class="right">
                <button class="btn btn-primary btn-xs" (click)="save(pop)">保存</button>
                <button class="btn btn-default btn-xs" (click)="cancel()">取消</button>
            </div>
        </div>
    </div>
</ng-template>